{% load static %}

<nav class="navbar navbar-expand-lg mt-5 mt-auto bg-dark text-white text-center py-3" style="background-color: #333; margin-top: 100px;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/Identidad.png' %}" alt="Logo UJED" width="110" height="60">
        </a>
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/ssga_2025.png' %}" alt="Logo UJED" width="70" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Aquí puedes agregar enlaces de navegación adicionales -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: #fff";> 🡩 Subir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>Más informacion. <i class="bi bi-binoculars-fill"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="text-white py-4 mt-0" style="background-color: #A87F3F;">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap justify-content-center align-items-center gap-4 mb-3">
        <a href="#" class="navbar-brand">
          <img src="{% static 'images/logo_blanco.png' %}" 
               alt="University Logo" 
               class="img-fluid" 
               style="max-width: 90px; height: auto;">
        </a>
    </div>
    <p>© SUBSECRETARÍA GENERAL ACADÉMICA 2026</p>
    </div>
  </div>
</nav>